@model IEnumerable<WebBanHang.Models.ShoppingCartItem>


    @if (Model != null && Model.Any())
    {
        <h3>Giỏ hàng <span style="float: right;">@Model.Count()</span></h3>
        var i = 0;
        var tongtien = decimal.Zero;
        <div style="border: 1px solid #808080">
            <table class="table">
                @foreach (var item in Model)
                {
                    tongtien += item.TotalPrice;
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>
                    </tr>
                }
                <tr>
                    <td>Tổng tiền</td>
                    <td>@(tongtien)</td>
                </tr>
            </table>
        </div>

    }
    else
    {
    }


